@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Закритий аккаунт";
}

<hgroup>
    <h1 class="text-danger">Закритий аккаунт.</h1>
    <h2 class="text-danger">Цей аккаунт недоступний, спробуйте пізніше</h2>
</hgroup>
