@{
    ViewBag.Title = "Підтвердження зміни паролю";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Перевірте Вашу пошту, та перейдіть по посиланню для зміни паролю.
    </p>
</div>
	
