@model IEnumerable<Easy.Models.Car>

@{
    ViewBag.Title = "Головна";
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row">
        <div class="col-md-4">
            <h2>Старт</h2>
            <ol>
                <li>Зареєструйтесь або ж увійдіть у систему.</li>
                <li>Натисніть на кнопочку нижче або ж на вкладку "Машиииинки"<p><a class="btn btn-primary btn-sm btn-active" href="https://localhost:44316/Cars">Красива кнопочка</a></p> </li>
                <li>Керуйте власним списком машин як забажаєте!</li>
            </ol>
        </div>
        <div class="col-md-4">
            <h2>Реєстрація</h2>
            <ol>
                <li>Для реєстрації натисніть на цю кнопочку<p><a class="btn btn-success btn-sm btn-active" href="https://localhost:44316/Account/Register">Ще красивіша кнопочка</a></p></li>
                <li>Вводите Ваші дані.</li>
                <li>Якщо реєстрація завершилась успішно, система Вас привітає.</li>
            </ol>
        </div>
    </div>

    





